.chat-box {
    position: relative;
    display: inline-block;
}

.chat-input {
    width: 500px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding: 0 100px 0 20px;
    box-sizing: border-box;
    outline: none;
}

#micButton {
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    font-size: 23px;
    cursor: pointer;
    z-index: 10;
}

#sendButton {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 22px;
    cursor: pointer;
    z-index: 10;
}

#sendButton:hover {
    transform: translateY(-50%) scale(1.1);
}